// Styling for the photos section
.photos-section {
  * {
    z-index: 2;
    h3.section-subheading {
      font-size: 16px;
      font-weight: 400;
      font-style: italic;
      margin-bottom: 75px;
      text-transform: none;
      text-align: center !important;
      @include serif-font;
    }
  }
  .show-hide {
    margin: 2rem;
    width: 15rem;
    // transition: all 1s ease;
  }
  .show {
    transition: all 5s ease 0;
  }
}
