// Styling for the photos section
.photos-section {
  * {
    z-index: 2;
    h3.section-subheading {
      font-size: 16px;
      font-weight: 400;
      font-style: italic;
      margin-bottom: 75px;
      text-transform: none;
      text-align: center !important;
      @include serif-font;
    }
  }
  .show-hide {
    border-radius: 0;
    flex-grow: 1;
  }
  p.buttonTitle {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
  }

  .selected {
    color: white;
    background-color: darken($primary, 7.5%);
    border-color: darken($primary, 7.5%);
  }
  .button-wrapper {
    margin: 2rem 0 !important;
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .photo-section-wrapper {
    width: 100%;
  }
  .caret-up {
    color: white;
  }
}
