// Styling for the portfolio section
.portfolio-section {
  * {
    z-index: 2;
  }
}
.video-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 50%;
  width: 100%;
}
.video {
  align-self: center;
  width: 100vw;
}
.countdownAndVideoDiv {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.countdownWrapper {
  display: flex;
  flex-wrap: wrap;
  margin: 50px;
  margin-top: 0px;
  justify-content: center;
}
.countdownIntro {
  font-size: 35px;
  text-align: center;
  @include script-font;
}
.countdownSection {
  flex: 1;
  display: flex;
  align-content: stretch;
}
.countWrapper {
  flex: 1;
  border: 5px solid #dee2e6;
  border-radius: 20px;
  background-color: #f8f9fa;
  color: #868e96;
  margin: 5px;
  padding: 10px;
  width: 85px;
  justify-content: center;
  justify-items: center;
  box-shadow: 20px, 20px, 20px, 0px, #9ebc9f;
}
.count {
  font-size: 40px;
  @include script-font;
  text-align: center;
}
.unit {
  text-align: center;
  font-size: 16px;
}
.finishedCountdown {
  .countWrapper {
    border: #e9ecef;
    color: #ced4da;
  }
  .finishedHeader {
    color: #ced4da;
  }
}
.countdownEnd {
  display: flex;
  flex-wrap: wrap;
  // border: 5px solid #adb5bd;
  border: 5px solid #dee2e6;
  border-radius: 20px;
  background-color: #f8f9fa;
  // color: #343a40;
  color: #9ebc9f;
  font-size: 20px;
  margin: 20px;
  padding: 10px;
  text-align: center;
  box-shadow: 5px, 5px, 5px, 0px, #868e96;
}
.startingSoon {
  display: flex;
  flex-wrap: wrap;
  border: 5px solid #adb5bd;
  border-radius: 20px;
  background-color: #dee2e6;
  color: #343a40;
  margin: 20px;
  padding: 10px;
}
.videoWrapper {
  display: flex;
  flex-wrap: wrap;
  margin: 20px;
}
.instaWrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  margin: 50px;
}
.countdownLinks {
  margin-left: 0.25em;
  // margin-right: 0.25em;
}
.checkOut {
  text-align: center;
}

@media (min-width: 768px) {
  .video {
    height: 50vh;
    width: 80vh;
  }
}
