// Styling for the portfolio section
.portfolio-section {
  * {
    z-index: 2;
  }
}
.video-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom:50%;
  width: 100%;
}
.video {
  align-self: center;
  // display: flex;  
  // justify-content: center; 
  // position: absolute;
  width: 100vw;
  // width: 100%; 
  // height: 100%
}

@media (min-width: 768px) {
  .video {
    height: 50vh;
    width: 80vh
  }
}
