// Styling for the portfolio section
.portfolio-section {
  * {
    z-index: 2;
  }
  .ceremony-header {
    padding-bottom: 20px;
    .section-subheading {
      margin-bottom: 10px;
    }
  }
  .hashtag {
    margin: 20px;
    font-size: 18pt;
    font-weight: 400;
    color: #9ebc9f;
  }
  // -VIDEO
  .countdownAndVideoDiv {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    .video-wrapper {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      padding-bottom: 50%;
      width: 100%;
      margin: 20px;
      .video {
        align-self: center;
        width: 100vw;
      }
    }
  }
  // - IMAGE CHANGE ON HOVER USING CSS POSIITONING

  // .card {
  //   position: relative;
  //   display: inline-block;
  //   width: 130px;
  //   height: 195px;
  // }
  // .card .img-top {
  //   display: none;
  //   position: absolute;
  //   top: 0;
  //   left: 0;
  //   z-index: 99;
  // }
  // card:hover .img-top {
  //   display: inline;
  // }

  // -IMAGE CHANGE ON HOVER USING BACKGROUND IMAGE
  // .card {
  //   width: 130px;
  //   height: 195px;
  //   background-image: url ("../../../../content/assets/images/portfolio/Youtube.png");
  //   display: inline-block;
  //   border: 5pt solid red;
  // }
  // .card:hover {
  //   background: url("../../../../content/assets/images/portfolio/YoutubeHover.png") no-repeat;
  // }

  // -COUNTDOWN
  .countdownIntro {
    font-size: 35px;
    text-align: center;
    @include script-font;
  }
  .countdownWrapper {
    display: flex;
    flex-wrap: wrap;
    margin: 50px;
    margin-top: 0px;
    justify-content: center;
    .countdownSection {
      flex: 1;
      display: flex;
      align-content: stretch;
      .countWrapper {
        flex: 1;
        border: 5px solid #dee2e6;
        border-radius: 20px;
        background-color: #f8f9fa;
        color: #868e96;
        margin: 5px;
        padding: 10px;
        width: 85px;
        justify-content: center;
        justify-items: center;
        box-shadow: 20px, 20px, 20px, 0px, #9ebc9f;
        .count {
          font-size: 40px;
          @include script-font;
          text-align: center;
        }
        .unit {
          text-align: center;
          font-size: 16px;
        }
      }
    }
  }
  .instaWrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 50px;
    .spacedCountdownLinks {
      margin-left: 0.25em;
      margin-right: 0.25em;
    }
  }

  // -T MINUS 15
  .countdownIntro {
    font-size: 35px;
    text-align: center;
    @include script-font;
    margin-bottom: 35px;
  }
  .joinButtonWrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .vendors {
    justify-content: center;
    margin: 40px;
    .countdownLinks {
      margin-left: 0.25em;
    }
  }

  // -COUNTDOWN END
  .finishedCountdown {
    .countWrapper {
      border: #e9ecef;
      color: #ced4da;
    }
    .finishedHeader {
      color: #ced4da;
    }
  }
}

// -MOBILE VIEW
@media (max-width: 768px) {
  .video {
    width: 100%;
  }
  .img-top {
    width: 100%;
  }
}
