.photo-item {
  right: 0;
  margin: 0 0 15px;
  .photo-link {
    position: relative;
    display: block;
    max-width: 400px;
    margin: 0 auto;
    cursor: pointer;
    .photo-hover {
      position: absolute;
      top: 0;
      width: 100%;
      height: 100%;
      transition: all ease 0.5s;
      opacity: 0;
      background: fade-out($primary, 0.1);
      &:hover {
        opacity: 1;
      }
      .photo-hover-content {
        font-size: 20px;
        position: absolute;
        top: 50%;
        width: 100%;
        height: 20px;
        margin-top: -12px;
        text-align: center;
        color: white;
        i {
          margin-top: -12px;
        }
        h3,
        h4 {
          margin: 0;
        }
      }
    }
  }
}

@media (min-width: 767px) {
  .photo-item {
    margin: 0 0 30px;
  }
}
