* {
  transition: 0.3s;
}

.photoCaption {
  text-align: center;
  padding-top: 15px;
  font-style: italic;
}

$bootstrap-sm: 576px;
$bootstrap-md: 768px;
$bootstrap-lg: 992px;
$bootstrap-xl: 1200px;

#gallery.custom {
  padding: 0 15px;

  img {
    display: block;
    margin: 15px 0;
    border-radius: 300px 30px 300px 300px;

    &:hover {
      border-radius: 30px 90px 30px 30px;
    }
  }
}

#photoGallery.custom {
  .modal {
    background: none;
    border: none;
    // width: auto;
  }

  .modal-header {
    border: none;

    button {
      background: none;
      border-radius: 100px 100px 0 0;
      padding: 5px 10px;
      opacity: 1;
      position: relative;
      top: 3px;
      border: solid 2px white;

      @media (min-width: $bootstrap-lg) {
        top: 15px;
      }

      &:hover {
        top: 3px;
      }
    }

    span {
      color: white;
    }
  }

  .modal-body {
    padding: 0;
    border: none;
    position: relative;

    &::before,
    &::after {
      content: "";
      height: 50px;
      width: 50px;
      display: block;
      position: absolute;
      background: white;
      border-radius: 3px 10px;

      @media (min-width: $bootstrap-md) {
        border-radius: 3px 30px;
        height: 100px;
        width: 100px;
      }
    }

    &::before {
      top: -5px;
      left: -5px;

      @media (min-width: $bootstrap-md) {
        top: -15px;
        left: -15px;
      }
    }

    &::after {
      bottom: -5px;
      right: -5px;
      z-index: -1;

      @media (min-width: $bootstrap-md) {
        bottom: -15px;
        right: -15px;
      }
    }
  }

  .modal-footer {
    border: none;
    margin-top: 60px;

    @media (min-width: $bootstrap-lg) {
      margin-top: 40px;
    }

    .btn {
      margin: auto;
      border: solid 2px white;
      background: none;
      text-transform: uppercase;
      font-size: 0.8em;
      letter-spacing: 0.1em;
      font-weight: bold;
      padding: 0.2em 0.7em;

      &:hover {
        background: white;
        color: black;
      }
    }
  }

  .carousel-control-prev,
  .carousel-control-next {
    font-size: 2em;
    top: auto;
    opacity: 1;
    bottom: -52px;

    @media (min-width: $bootstrap-md) {
      top: 0;
      opacity: 0.5;
      bottom: 0;
    }
  }

  .carousel-control-next-icon,
  .carousel-control-prev-icon {
    height: 30px;
    width: 30px;
  }

  .carousel-control-prev {
    @media (min-width: $bootstrap-md) {
      left: -90px;
    }
  }

  .carousel-control-next {
    @media (min-width: $bootstrap-md) {
      right: -90px;
    }
  }

  .carousel-indicators {
    bottom: -60px;

    @media (min-width: $bootstrap-lg) {
      bottom: -30px;
    }

    li {
      height: 30px;
      border-radius: 100px;
      background: none;
      border: solid 2px white;

      @media (min-width: $bootstrap-lg) {
        height: 10px;
      }

      &:hover {
        background: white;
      }

      &.active {
        background: white;
      }
    }
  }
}
