.section-header {
  h2.section-heading {
    margin-top: 0;
    margin-bottom: 15px;
    @include script-font;
  }
  h3.section-subheading {
    font-size: 16px;
    font-weight: 400;
    font-style: italic;
    margin-bottom: 75px;
    text-transform: none;
    @include serif-font;
  }
}
@media (min-width: 768px) {
  h2.section-heading {
    font-size: 60px;
  }
}
@media (max-width: 768px) {
  h2.section-heading {
    font-size: 40px;
  }
}
